<div class="container">
	<div id="mainvisual">
    	<img src="./img/mainvisual.gif" alt="aaaaaa" />
    </div>	<!-- mainvisual -->

	<div class="col-sm-12 midashi">
    <p>イラスト</p>

    </div>	<!-- col12 -->

		<div class="image-row">
			<div class="image-set">

	<div class="row" id="new">
    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="作品"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥１００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">作品</p>
            <p class="itemdetail">作品詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="作品"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥１００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">作品</p>
            <p class="itemdetail">作品詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
             <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="作品"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥１００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">作品</p>
            <p class="itemdetail">作品詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="作品"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥１００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">作品</p>
            <p class="itemdetail">作品詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->
    </div>	<!-- row new -->
			</div>	<!-- image set -->
		</div>	<!-- image row -->


	<div class="col-sm-12 midashi">
    <p>商品</p>
    </div>	<!-- col12 -->

	<div class="row" id="make">
    	<div class="col-sm-4">
        	<div class="graybox">
            <div class="overflow">
            <img src="./img/example2.gif" />
            </div>	<!-- imgarea -->
            <p>クッション</p>
            </div>	<!-- graybox -->
        </div>	<!-- col4 -->

    	<div class="col-sm-4">
        	<div class="graybox">
            <div class="overflow">
            <img src="./img/example2.gif" />
            </div>	<!-- imgarea -->
            <p>クッション</p>
            </div>	<!-- graybox -->
        </div>	<!-- col4 -->

    	<div class="col-sm-4">
        	<div class="graybox">
            <div class="overflow">
            <img src="./img/example2.gif" />
            </div>	<!-- imgarea -->
            <p>スクッション</p>
            </div>	<!-- graybox -->
        </div>	<!-- col4 -->
    </div>	<!-- row make -->




	<div class="col-sm-12 midashi">
    <p>写真</p>
    </div>	<!-- col12 -->

 		<div class="image-row">
			<div class="image-set">


	<div class="row" id="new">
    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="写真"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥２００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">写真</p>
            <p class="itemdetail">写真詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="写真"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥２００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">写真</p>
            <p class="itemdetail">写真詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="写真"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥２００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">写真</p>
            <p class="itemdetail">写真詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->

    	<div class="col-sm-3">
        	<div class="graybox">
            <p class="ribbon"><img src="./img/new_ribbon.png" alt="" /></p>
            <div class="imgarea">
            <a class="example-image-link" href="./img/example1.gif" data-lightbox="example-set" title="写真"><img class="example-image" src="./img/example1.gif" alt="" /></a>
            <div class="price">￥２００</div>
            </div>	<!-- imgarea -->
            <p class="itemtitle">写真</p>
            <p class="itemdetail">写真詳細</p>
            </div>	<!-- graybox -->
        </div>	<!-- col3 -->
    </div>	<!-- row new -->
			</div>	<!-- image set -->
		</div>	<!-- image row -->



</div>	<!-- container -->


<div class="clear"></div>
<div class="container">
	<div class="row">
	    <div class="col-lg-9" id="footerbase">
        	<p><span>最新の活動報告</span><br />
COMING SOON<br />
まだ何もない</p>
        </div>	<!-- col9 -->
	    <div class="col-lg-3" id="footerleft">
            <button type="button" class="btn btn-success btn-md" style="margin:35px auto auto 130px;">
              <span>詳細はこちら</span>
            </button>
        </div>	<!-- col3 -->
	</div>	<!-- row -->

<div id="company">
	<div class="row">
    	<div class="col-lg-4">
        <div>
			<img src="./img/logo_gray.jpg" alt="" />
        </div>
        </div>	<!-- col4 -->
        <div class="col-lg-6">
        <div>
        <p id="title">About US</p>
        <p id="txt">
詳細はso-zoチームを注目してください
        </p>
        </div>
        </div>	<!-- col6 -->
    </div>	<!-- row -->
</div>	<!-- company -->

</div>  <!-- container -->