<div class="meny">
  <h4>Contents</h4>
  <ul>
    <li><a href="#">最新のWeb技術を最適の戦略で</a></li>
    <li><a href="#">一気に変貌したWeb戦略</a></li>
    <li><a href="#">Social Media</a></li>
    <li><a href="#">Smart Phone</a></li>
    <li><a href="#">CMS</a></li>
    <li><a href="http://ardito.jp">Ardito</a></li>
    <li><a href="http://www.facebook.com/woorks">WOORKS</a></li>
  </ul>
</div>
<!-- /#meny -->