<div class="container">
<div id="grayfooter">
    <div class="row">
		<div class="col-lg-5">
            <div style="margin:25px auto auto 70px;">
                <p id="categorytitle">カテゴリから探す</p>
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>
                </ul>
                </div>
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>
                </ul>
                </div>
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>
                </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>	<!-- col5 -->
    	<div class="col-sm-4" id="snslist">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
      <div id="sns">
        <div id="twi" style="float:left;"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sozo.d-siy.com" data-text="想像を創造するサイト「sO-Zo」" data-lang="ja" data-related="paddy_waseda">ツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
       <div class="fb-like" data-href="http://sozo.d-siy.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>	<!-- sns -->
      <div class="clear"></div>

        </div>	<!-- col4 -->
    </div>	<!-- row -->

</div>	<!-- grayfooter -->
<div id="bottomfooter">
<a href="#">取引～～～～～</a>
<a href="#">ああああああ</a>
<a href="#">いうえおうおえ</a>
<a href="#">かきここかけ</a>
<a href="#">プライバシーポリシー</a>
<a href="#">お問合わせ</a>
<div style="float:left;">D＆SIY</div>
<div class="clear"></div>



</div>	<!-- bottomfooter -->

</div>	<!-- container -->